html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.21vw;
}

body {
    background-image: url('/image/forestbridge.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 124.6%;
}

.taken {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    animation-name: done;
    animation-duration: 0.5s;
}

p.logo {
    font-size: 24.1px;
    margin-left: 1.73vw;
    margin-top: 1.1vw;
}

div.flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 78.8%;
}

div.title {
    animation-name: stoko;
    animation-duration: 0.5s;
    position: relative;
}

div.title,
span.title-2 {
    font-size: 64px;
    padding-bottom: 0.9vw;
}

/*enable when you are media graphing for a phones screen*/
br {
    display: none;
}

hr {
    width: 182px;
    opacity: 0.55;
    margin-bottom: 1.485vw;
    border: 0.001px solid rgb(170, 166, 166);
    height: 0px;
}


div.subtitle {
    font-size: 18px;
}

p.foot {
    position: fixed;
    left: 1.77%;
    bottom: 2.2%;
    font-size: 15px;
    margin-bottom: 0px;
}

a {
    color: white;
}

@keyframes done {
    0% {
        background-color: white;
    }

    100% {
        background-color: none;
    }
}

@keyframes stoko {
    0% {
        bottom: 150px;
    }

    100% {
        bottom: 0px;
    }

}

@media screen and (max-width: 900px) {
    body {
        background-size: auto 124.6%;
    }

    br {
        display: inline;
    }

    hr {
        width: 28%;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-size: auto 124.6%;
    }

    br {
        display: inline;
    }

    br {
        width: 20%;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-size: auto 124.6%;
    }

    br {
        display: inline;
    }

    br {
        width: 40%;
    }

    p.foot {
        font-size: 20px;
    }
}